<mat-toolbar color="primary">

<h1 class="rescue"><span class="light"> 831PAWDYGUARD RESCUE</span></h1>

<span></span>

  <a mat-button routerLink="/home" routerLinkActive="mat-accent">HOME</a>
  <a mat-button routerLink="/donations" routerLinkActive="mat-accent">DONATE</a>
  <a mat-button routerLink="/app-form" routerLinkActive="mat-accent">VOLUNTEER</a>
  <a mat-button routerLink="/animal-list" routerLinkActive="mat-accent">ANIMALS</a>
  <a mat-button routerLink="/login" routerLinkActive="mat-accent">LOGIN</a>
</mat-toolbar>
