
/* .my-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 2rem; */
   /* line-height: 60px; Vertically center the text there */
  /* background-color: #7a0b62;
  color: aquamarine; */

/* }
p{
  font-size: small;
} */
