<mat-accordion multi="true" *ngIf="animals.length > 0">
  <mat-expansion-panel *ngFor="let animal of animals">
    <mat-expansion-panel-header>
      {{ animal.title }}
    </mat-expansion-panel-header>
    <p>{{ animal.content }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', animal.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(animal.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="animals.length <= 0">No Animals are available at this time.</p>
