.content {
  padding-bottom: 1.5rem;
 }

.container-outer {
  max-width: 1200px;
  margin-top: 1rem;
}

mat-card{
  margin-top: 2rem;
  max-width: 500px;
}

mat-card-image{
  width:50%;
  height:auto;
}
img-cont{
  width:80%;
}
.welcome-card {
  margin-right: 1.5rem;
}

#quote{
  padding: 2px;
  color: rgb(145, 37, 207);
  font-weight: 800;
}

