<mat-card>
  <mat-card-header>
    <mat-card-title>A very warm welcome!</mat-card-title>
  </mat-card-header>

    <img mat-card-image src="./../../../assets/images/cat-white-cleaning.jpg" alt="Rescued Cat Face">


  <mat-card-content>
    <p>
    Wow! You want to get involved! That is amazing!
    I saw a post recently. <br>
    <span id="quote"> "Give animals the care they need and the love they deserve." </span><br>
    That's what we are about. We love animals, we are passionate about helping them.
    We rescue them, have foster parents, and find forever homes for our cats and dogs.
    We organize transport to other shelters or doctors' runs. Pick them up from the roadside. Love on them.
    We make sure the rescued animals are well taken care of. We give them a future in safety and dignity. <br>
    And without our volunteers and donors our work wouldn't be possible.

    Please, take a couple of minutes and let us know, who you are and why rescuing animals is important for you.
<br><br>
    If you have questions, please don't hesitate to contact us. Welcome to the family!

  </p>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/vol-application">
      <button mat-raised-button color="accent">I want to get involved!</button>
    </a>
  </mat-card-actions>
</mat-card>
