<mat-card>
  <mat-card-header>
    <mat-card-title>A very warm welcom</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    Wow! You want to get involved! That is amazing!
    I saw a post recently. 
    <span> "Give animals the care they need and the love they deserve." </span>
    That's what we are about. We love animals, we are passionate about helping them. 
    We rescue them, have foster parents, find new homes for our cats and dogs.
    We organise transport to other shelters or dorctors runs.
    We make sure the rescued animals are taken care of.
    And without our volunteers and donors our work wouldn't be possible.

    Please take a couple of minutes and let us know, who you are and why rescuing animals is important for you.

    If you have questions, please don't hesitate to contact us.


  </mat-card-content>

  <a routerLink="/vol-application">
  <button mat-raised-button color="accent" >I want to get involved!</button></a>

</mat-card>