
.outer-form-container{
  align-self: center;
  max-width: 50%;
  padding-top: 2rem;
  padding-left: 1rem;
  margin-left: 2rem;
  margin-right:auto;
   }

 .form-container{
   margin-top: 2rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 mat-form-field{
  width:48%;
  padding-left: 0.5rem;
}
mat-action-row{
  display: flex;
  justify-self: flex-start;
}
.paypal{
  background-color: gold;
  color: blue;
}

/**** The radio buttons  ***/
.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.col {
  flex: 1;
  margin-right: 20px;
}


p {
 margin-top: 1rem;
 padding:0.5rem;
}

.mat-radio-button:submit {
 color: yellow;
}

.mat-icon{
  display: inline-flex;
  vertical-align: middle;
  font-size: medium;
  color: green;
}

.online-giving {
  margin-left: 2rem;
  max-width: 50%;
  /* border: solid 1px blue; */
  margin-top: 3rem;
}
.eph1 {
  font-size: 0.8rem;
}