
.outer-form-container{
  align-self: center;
  max-width: 50%;
  padding-top: 2rem;
  margin-left: 2rem;
  margin-right:auto;
}

.paypal{
  background-color: gold;
  color: blue;
}

/**** The radio buttons  ***/
.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.col {
  flex: 1;
  margin-right: 20px;
}


p {
 margin-top: 1rem;
 padding:0.5rem;
}

.mat-radio-button:submit {
 color: yellow;
}

.mat-icon{
  display: inline-flex;
  vertical-align: middle;
  font-size: medium;
  color: rgb(55, 0, 128);
}

.online-giving {
  margin-left: 2rem;
  max-width: 55%;
  /* border: solid 1px blue; */
  margin-top: 3rem;
}
.eph1 {
  font-size: 0.8rem;
}

.mobile-title{
  color: rgb(55, 0, 128);
}

.mat-action-row {
  width:100%;
  max-width: 600px;
  place-content: space-between;
}
button{
  margin-bottom: 1rem;
}

.visible {
  width: 100%;
  /*border: solid 1px red;*/
}