<h1>Animals Available for Adoption</h1>
<hr>
<mat-card>
  <form [formGroup]="form" enctype="multipart/form-data" (submit)="onSaveAnimal()">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Name of Animal">
      <mat-error *ngIf="form.get('title').invalid">Please enter Name of Animal.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="imagePicker.click()">Pick an Image</button>
      <input type="file" #imagePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Information About this Animal"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter information about this Animal.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Animal Information</button>
  </form>
</mat-card>

<!-- accept=".png, .jpg, .jpeg" -->
