<div class="outer-form-container">

  <div class="form-container">
    <!-- <form class="input-form"></form> -->

    <h4>Volunteer Information</h4>
    <p>Name </p>
    <div>
      <!-- Submit event with #local reference -->
      <form class="input-form" (submit)="onAddVolunteer(volunteerForm)" #volunteerForm="ngForm">

        <mat-form-field class="form-field" style="width:50vw" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text" name="fname" ngModel required placeholder="First Name" #fnInput="ngModel">
          <mat-error *ngIf="fnInput.invalid">Please enter your first name</mat-error>

        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" name="lname" ngModel required placeholder="Last Name" #lnInput="ngModel">
          <mat-error *ngIf="lnInput.invalid">Please enter your last name</mat-error>
        </mat-form-field>

        <p>Address</p>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Street</mat-label>
          <input matInput type="text" name="street" ngModel required placeholder="Street" #strInput="ngModel">
          <mat-error *ngIf="strInput.invalid">Please enter a street</mat-error>
        </mat-form-field>
        <!-- -->
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Street Line 2</mat-label>
          <input matInput type="text" name="street2" ngModel placeholder="Street Line 2" #str2Input="ngModel">
          <mat-error *ngIf="str2Input.invalid">Please enter valid street information</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>City</mat-label>
          <input matInput type="text" name="city" ngModel required placeholder="City" #cityInput="ngModel">
          <mat-error *ngIf="cityInput.invalid">Please enter a city</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>State / Province</mat-label>
          <input matInput type="text" name="state" ngModel required placeholder="State or Province"
            #stateInput="ngModel">
          <mat-error *ngIf="stateInput.invalid">Please enter a state or province</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Postal Zip</mat-label>
          <input matInput type="text" name="zip" ngModel required placeholder="Zip Code" #zipInput="ngModel">
          <mat-error *ngIf="zipInput.invalid">Please enter a zip code</mat-error>
        </mat-form-field>




        <p>Email</p>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" name="email" ngModel required placeholder="E-Mail" #emailInput="ngModel">
          <mat-error *ngIf="emailInput.invalid">Please enter an email</mat-error>
        </mat-form-field>

        <p>Phone Number</p>
        <p>Area Code + Phone Number</p>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" name="phone" ngModel required placeholder="Phone Number incl. Area Code"
            #phoneInput="ngModel">
          <mat-error *ngIf="phoneInput.invalid">Please enter phone number and area code</mat-error>
        </mat-form-field>

        <!-- textareas, radio buttons and checkboxes -->
        <p>Volunteer Details</p>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Something about you</mat-label>
          <textarea matInput rows="6" name="details" ngModel required placeholder="Your ability to volunteer..."
            #detailsInput="ngModel"></textarea>
        </mat-form-field>

        <p>Skills and experience</p>
        <!-- Radio Buttons, if possible-->
        <p>Here could be some radio buttons</p>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Do you have experience with pet-care or animal welfare?</mat-label>
          <textarea matInput rows="6" name="experience" ngModel required placeholder="Please describe..."
            #expInput="ngModel"></textarea>
        </mat-form-field>

        <p>Here could be some check boxes</p>

        <!-- form footer / end -->
        <button mat-raised-button color="accent" type="submit">Submit Application</button>

        <!-- -->
      </form>
    </div>
  </div>
</div>