<header></header>
<mat-card class="pitter-card">
  <mat-card-header>

    <mat-card-title>Pitter</mat-card-title>
    <mat-card-subtitle>The Kitty that started it all</mat-card-subtitle>
  </mat-card-header>
  <img src=".\..\..\..\assets\images\pitter.jpg" alt="Photo of  Pitter" width="350" height="525">
  <mat-card-content>
   <h1>Thank you for supporting the PAWDYGUARD Rescue.</h1>
<h2>Your donation(s) go to work to provide:</h2>

<p>Food and bottles for bottle fed kittens <br>
  Food for cats and dogs in foster care <br>
  Finances for veterinarian bills <br>
  Including: spay and neutering<br>
  Transportation of animals<br>
  Equipment used to safely trap</p>

<p>Unrestricted funds allow us to allocate our resources where the needs are greatest. You may also direct your gift to a listed category of your choice.</p>
<p>Please contact us at:</p>

  </mat-card-content>
  <mat-card-actions>
   <a routerLink="/donations-form">
    <button mat-button>Donate Here</button></a>
  </mat-card-actions>
</mat-card>



