<div class="content" fxLayout="row wrap" >
  <div fxFlex="45%" fxFlex.xs="100%" fxFlex.sm="25%">

    <mat-card class="pitter-card mat-elevation-z4">
      <mat-card-header>

        <img mat-card-avatar src=".\..\..\..\assets\images\pitter.jpg" alt="Pitter, the first rescued cat">

        <mat-card-title>{{donation.title}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <section>{{donation.blog}} </section>

      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/donations-form">
          <button mat-button>Donate here</button></a>
      </mat-card-actions>
    </mat-card>


    <mat-card>
      <mat-card-header>
        <mat-card-title>Your donation(s) go to work to provide:</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div *ngFor="let o of obj">
          <p>{{o.desc}}</p>
        </div>


        <p>Unrestricted funds allow us to allocate our resources where the needs are greatest.
          You may also direct your gift to a listed category of your choice.</p>
        <p>Please contact us at:</p>

      </mat-card-content>

    </mat-card>


    <!-- End - Flex container for page-->
  </div>
</div>