.container-outer {
  max-width: 1000px;
  margin-top: 1rem;
}

mat-card{
  max-width: 500px;
  margin: 0.5rem;
}

mat-card:hover{
  box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.content {
 padding-bottom: 1.5rem;
}

#iheader {
width: 10%;
height:10%;
align-self: left;
}
.side-title {
  font-size: 1rem;
  color: rgb(77, 0, 128);
}
.side-img{
  width:100%;
  height:auto;
}
/* little cards */
.donation-purpose {
  max-width: 200px;
} 
.d-p-title {
  margin-left: 1rem;
}
.d-p-desc {
  font-size: medium;
}

a {
  color: rgb(77, 0, 128);
}