a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
 width: 100%;
  list-style-type: none;
  padding: 0;
  margin-left: 90px;
 flex-wrap: wrap
}

mat-toolbar{

  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}

.rescue_nav {
  font-family: Garamond;
  font-size: 35px;
  flex-wrap: wrap
}

li {
float: right;
}
