<div>

<mat-accordion multi="true" *ngIf="animals.length > 0">
  <mat-expansion-panel *ngFor="let animal of animals">
    <mat-expansion-panel-header class="panel-header">
      <img class="thumb-image" [src]="animal.imagePath" [alt]="animal.title">
      <br> {{ animal.title }}
    </mat-expansion-panel-header>
    <div class="animal-image">
      <img [src]="animal.imagePath" [alt]="animal.title">
    </div>
    <p>{{ animal.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === animal.creator">
      <a mat-button color="primary" [routerLink]="['/edit', animal.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(animal.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalAnimals" [pageSize]="animalsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="animals.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="animals.length <= 0">No Animals are available at this time.</p>

<a mat-button routerLink="/adoption-form" routerLinkActive="mat-accent">Adopt an Animal</a>



</div>
