<!-- div main-container is needed to keep the footer at the bottom of the page-->
<div class="main-container ">

<mat-accordion multi="true" *ngIf="animals.length > 0">
  <mat-expansion-panel *ngFor="let animal of animals">
    <mat-expansion-panel-header class="panel-header">
      <img class="thumb-image" [src]="animal.imagePath" [alt]="animal.title">
      <br> {{ animal.title }}
    </mat-expansion-panel-header>
    <div class="animal-image">
      <img [src]="animal.imagePath" [alt]="animal.title">
    </div>
    <p>{{ animal.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === animal.creator">
      <a mat-button color="primary" [routerLink]="['/edit', animal.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(animal.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalAnimals" [pageSize]="animalsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="animals.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="animals.length <= 0">No Animals are available at this time.</p>


<!-- Adoption Request Form  -->

<div class="f-container">

  <form class="input-form" (submit)="onAdoptRequest(adoptionForm)" #adoptionForm="ngForm">
    <mat-card>
      <mat-card-title>
        <h4>Adopt an animal</h4>
      </mat-card-title>
      <mat-form-field class="form-field">
        <mat-label>First Name</mat-label>
        <!-- I chose minlength 2 because of chinese and Korean 2 letter names-->
        <input matInput type="text" name="fname" ngModel required minlength="2" placeholder="First Name" #fnInput="ngModel">
        <mat-error *ngIf="fnInput.invalid">Please enter a first name</mat-error>

        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" name="lname" ngModel required minlength="2" placeholder="Last Name"
            #lnInput="ngModel">
          <mat-error *ngIf="lnInput.invalid">Please enter a last name</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input matInput type="text" name="email" ngModel required placeholder="youremail@example.com" #emailInput="ngModel">
          <mat-error *ngIf="emailInput.invalid">Please enter an email</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" name="phone" ngModel required placeholder="Area Code + Phone Number" #phoneInput="ngModel">
          <mat-error *ngIf="phoneInput.invalid">Please enter phone number and area code</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="accent" type="submit">Apply for Adoption</button>
        </mat-card-actions>
      </mat-card>

  </form>
</div>
<!-- End Page main container-->
</div>
