:host {
  display: block;
  margin-top: 1rem;
}

mat-paginator {
  margin-top: 1rem;
}

.panel-header {
  height: 5rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info-text {
  padding-left: 1rem;
}

.thumb-image {
  width: 5rem;
  padding-left: 4rem;
  padding-right: 2rem;
}

.animal-image {
  width: 50%
}

.animal-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}



/* Adoption form   (G)*/
mat-card{
width: 40%;
margin: auto;
}
.form-field
{
  width:80%;
}
.f-row{
  display:block;
  background-color:white;
  align-self: center;

  max-width: 50%;
  padding-top: 2rem;
  padding-left: 1rem;
  /*margin-top: 2rem;*/
  margin-left: 2rem;
  margin-right:auto;
}

.f-col{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /* Container to keep footer in check*/
 .main-container {
  min-height: 100%; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 2rem; /* height of your footer */
}
