
html {
  position: relative;
  min-height: 50%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}

main {
  width: 100%;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}
/* sidenav */
main {
  padding: 10px;
}
