/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

mat-toolbar{
  justify-content:space-between;
}
/* .routerlink {
  color: white;
} */

.light{
  font-size: 50px;
}

.mat-tab-label {
  color: black;
  font-size: 2em;
}
.mat-tab-label :active {
  color: purple;
}

/* for sidenav to take a whole page */

/* html, body {
  margin: 0;
  height: 100%;
} */
