/* You can add global styles to this file, and also import other style files */
/* body {
  background: url("./assets/backgrounds/palePink.png");
  background-size: cover;
  background-color: thistle;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-toolbar{
  justify-content:space-between;
}

.light{
  font-size: 50px;
}

.mat-tab-label {
  color: black;
  font-size: 2em;
}




