<!-- div main-container is needed to keep the footer at the bottom of the page-->
<div class="main-container "> 


<div class="img-container">
 <img class="fullBg" [src]="home.image">
</div>
 <mat-card>
  <mat-card-header>
  <mat-card-title><h1>{{home.title}}</h1></mat-card-title>
  <mat-card-subtitle>{{home.subtitle}}</mat-card-subtitle>
  </mat-card-header>
 
  <mat-card-content>
  {{home.content}}
  </mat-card-content>
  </mat-card>




<!-- Some test content for footer-->

<div>Footer test content</div>
<div>2</div>
<div>3</div>
<div>4</div>
<div>5</div>
<div>6</div>
<div>7</div>
<div>8</div>
<div>9</div>
<div>10</div>
<div>11</div>
<div>12</div>
<div>13</div>
<div>14</div>
<div>15</div>
<div>16</div>

<div>17</div>
<div>18</div>
<div>19</div>
<div>20</div>
<p>End of main-container div</p></div>
