
<!-- div main-container is needed to keep the footer at the bottom of the page-->
<!-- <div class="main-container "> -->
  <!-- <div id="wrapperDiv"> -->

<mat-carousel timings="250ms ease-in"
    [autoplay]="true"interval="5000"
    color="black"
    maxWidth="auto"proportion="25"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="true"
    orientation="ltr">

<mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="gray"
    [hideOverlay]="true">

<!-- div for text on image on mat-carousel-slide -->
   <!-- <div
  style="width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
     justify-content: center"> -->

  <h1 style="color: white; padding: 10px;">Adopted!</h1>
<!-- </div> -->

  </mat-carousel-slide>
</mat-carousel>
  <section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center" >
      <p> Together We Can Make A Difference</p>
    </div>
  </section>
    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
      <mat-tab label="About">
        <p>831pawdyguard Rescue is a 501c3 non-profit organization that was started by Nia Casad in 2018. <br>
          Nia has a deep passion to help every animal get the care they deserve and find a loving home. Nia is deeply<br>
          involved with each animal and has made a lasting impact on her community.
        </p>
      </mat-tab>
      <mat-tab label="Contact">
        <h1>Contact Us:</h1>
        <div class="div0">
        <div id="div3" style="padding:20px">
          <h2>Mailing Address</h2>
          <address>
            1177 Rockhaven Ct<br>
             Salinas, CA
            </address>
          </div>
        <div id="div4" style="padding:20px">
          <h2>Phone Number</h2><br>
          <h1>831-444-5822</h1>
        </div>
      </div>
      </mat-tab>
      <mat-tab label="Local Resources">
         <h2>SPAY and Neuter Services</h2><br>
         <a  href="https://www.snipbus.org/">SNIP</a>
         <p class="snip">Serves Monterey County<br>
          925-967-1001
        </p>
      </mat-tab>
      <mat-tab label="Why We Rescue">
          <p>We rescue because animals cannot help themselves. Rescuers are like interpreters, in a way. We 'listen' to them and then we become their voice. <br> Earning the trust of an injured, lost, or abused animal can be very difficult, but so very rewarding. There is no greater joy then placing an animal <br> in its forever home where it will be loved and cared for. </p>
      </mat-tab>
      <mat-tab label="Fees">
        <p> </p>
          <h2>DOG</h2>
          <p>$250</p>
      </mat-tab>
    </mat-tab-group>











